.CurrentInfo.body {
  font-family: "Nunito", sans-serif;
  padding: 20 px;
}

.CurrentInfo.col-md {
  height: 95%;
  margin: 10px 0px 10px 10px;
  width: 465px;
}

.currentCity {
  font-size: 60px;
  font-weight: 900;
  text-transform: capitalize;
}

h1 {
  font-size: 100px;
  font-weight: 900;
}

h2 {
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
}

h3 {
  font-size: 25px;
  font-weight: 200;
  line-height: 25px;
}

p {
  font-size: 25px;
  line-height: 45px;
  text-align: center;
}

.maincity {
  font-size: 60px;
  font-weight: 900;
  padding: 15px 15px 15px 15px;
  text-decoration: underline;
}

.active {
  color: #000000;
  cursor: default;
}

.currentweather {
  background: none;
  border: 5px solid #00000025;
  border-radius: 10px;
  margin-bottom: 10px;
}

.degrees {
  color: rgba(0, 0, 0, 0.75);
  font-size: 30px;
  font-weight: 400;
  vertical-align: top;
}

a.degrees {
  color: rgba(0, 0, 0, 0.75);
}

a:hover {
  text-decoration: none;
}

.description {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  line-height: 15px;
}

.bigtext {
  font-size: 105px;
  line-height: 105px;
  font-weight: 900;
  margin: 0 px;
}

.time {
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.windspeed {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  line-height: 15px;
}

.precipitation {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  line-height: 15px;
  margin-bottom: 15px;
}
